#main {
margin: auto;
text-align: center;
margin-left: 25%;
margin-top: 2%;
background-color: #1c1e20;
width: 50%;
height: 600px;
border-radius: 10px;
colour: white;
}

body {
  background-color: #202225;
}

#juanfoto {
  position: fixed;
  width: 100%;
  height: 82%;
}

#updatefakers {
  float: right;

}

#fotosupdate {
  width: 20%;
}
