#main {
margin: auto;
text-align: center;
margin-left: 25%;
margin-top: 2%;
background-color: #1c1e20;
color: #ffffff ;
width: 50%;
height: 600px;
border-radius: 10px;
}

a, a:hover, a:focus, a:active {
text-decoration: none;
color: inherit;
}

body {
  background-color: #202225;
}

#juanfoto {
  position: fixed;
  width: 100%;
  height: 82%;
}

#updatefakers {
  float: left;
  width: 25%;
  margin: 25px;
}

#fotosupdate {
margin: 25px;
width: 250px;
}

#username_submit {
   width: 360px;
  Background-color: #0096db;
  margin-left: 5px;
  margin-top: 16px;
  margin-right: 10px;
  margin-bottom: 16px;
  outline: none;
  border-style: groove;
  border: none;
  padding: 1rem;
  color: white;
}

h1 {
  color: #9B9D9E;
}

p {
  color: #9B9D9E;
}
